body {
    font:15px arial,sans-serif;
    background-image: url('http://www.airjordan6.co.uk/images/jordan/Cheap%20Price%20Air%20Jordan%204%20Fluorescent%20Low%20Black%20Blue-aj0100248_1.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}

h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 54px;
    background-color: #999;
    color: #fff;
}
table {
    margin: 110px;
}
th, td {
    padding: 5px;
    border: 1px solid #999;
  }


select {
  width: 125px
  height:46px
  margin:auto;
  padding-left: 24px
}
button{
  width:30px
  height:25px
}
